
.educationMainBox {
    margin: 1%;
    font-family: optima;
}

.educationTitle {
    font-family: "Permanent Marker", cursive;
}

.educationBodySection {
    margin: 3%;
}

.educationListDetail {
    margin: 3%;

}

.educationListDetail::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

