
.educationMainBox {
    margin: 1%;
    font-family: optima;
}

.educationTitle {
    font-family: "Permanent Marker", cursive;
}

.educationBodySection {
    margin: 3%;
}

.educationListDetail {
    margin: 3%;
}