
.personalInfoMainBox {
    padding: 5%;
    width: 100%; 
    display: flex; 
    font-family: optima;
    font-size: 24px;
}


.personalLink {
    color: darkcyan;
    transition: 500ms ease-in-out;
}

.personalLink:hover {
    color: orangered;
}