
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #242424;
}

.mainBox {
    width: 100%;
    height: 100vh;
    margin: 0%;
    padding: 2%;
    font-family: monospace;
    font-size: 20px;
    background-color: #242424;
    color: rgb(67, 132, 132);
}

.mainNameTitle {
  
        font-family: "Permanent Marker", cursive;
        font-weight: 400;
        font-style: normal;
        padding-left: 1%;

}

.sideBar {
    position: fixed;
    background-color: #242424;
    height: 100vh;
    width: 15vh;
    border-right:rgb(67, 132, 132) 2px solid;
}

.mainHomeSection {
    margin-left: 15vh;
    padding-left: 1vh;
}

.openInfoButton {
    background-color: #242424;
    color: rgb(67, 132, 132);
    font-size: 20px;
    height: 3vh;
    width: 12vh;
    border: #242424;
    transition: 500ms ease-in-out;
}


.openEmpButton {
    background-color: #242424;
    color: rgb(67, 132, 132);
    font-size: 20px;
    height: 3vh;
    width: 12vh;
    border: #242424;
    transition: 500ms ease-in-out;
}



p::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

h1::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

h2::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

h3::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}