
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #242424;
}

.mainBox {
    width: 100%;
    height: 100vh;
    margin: 0%;
    font-family: monospace;
    font-size: 20px;
    background-color: #242424;
    color: rgb(67, 132, 132);
}

.mainNameTitle {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 1%;
}

.sideBar {
    position: fixed;
    background-color: #242424;
    height: 100vh;
    width: fit-content;
    border-right:rgb(67, 132, 132) 2px solid;
    border-left:rgb(67, 132, 132) 4px solid;
    padding-left: 30px;
    padding-top: 1%;
}

.selfieFrame {
    height: 90px;
}

.selfieFrameLarge {
    width: 90%;
    opacity: 80%;
}
.mainHomeSection {
    margin-left: 210px;
    padding-left: 1vh;
    padding-top: 2%;
}

.openInfoButton {
    display: flex;
    background-color: #242424;
    font-family: "Permanent Marker", cursive;
    color: rgb(67, 132, 132);
    font-size: 24px;
    width: 180px;
    border: #242424;
    transition: 500ms ease-in-out;
}

.openInfoButton:hover {
    color: orangered;
}


.openEmpButton {
    background-color: #242424;
    color: rgb(67, 132, 132);
    font-size: 20px;
    height: 3vh;
    width: 12vh;
    border: #242424;
    transition: 500ms ease-in-out;
}



p::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

h1::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

h2::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

h3::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: #242424;
}

