
.prettyPageMainBox {
    font-family: optima;
    font-size: 22px;
    color:rgb(67, 132, 132);
    padding: 2%;
}

.pnpTitle::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: black;
}


.prettyPageNavLink {
    color: seagreen;
}