
.prettyPageMainBox {
    font-family: optima;
    font-size: 22px;
    color:rgb(67, 132, 132);
    padding: 2%;
}

.pnpTitle::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: black;
}


.prettyPageNavLink {
    color: seagreen;
}

p::selection {
    background-color: antiquewhite; /* Choose your desired color */
    color: black;
}

.pnpCover {
    width: 75%;
    margin: 2%;
    border: 2px darkslategray solid;

}

.pnpCoverBox {
    width: 100%;
    display: flex;
    justify-content: center;
}