
.empExp {
    margin: 1%;
    font-family: optima;
    font-size: 20px;
}

.refBox {
    margin: 1%;
    font-family: optima;
    font-size: 20px;
}

.paragraph {
    width: 100%;
    transition: 500ms ease-in-out;
}



.empExpTitle {
    font-family: "Permanent Marker", cursive;
}